<!-- Events Content -->
<div class="universal-page-heading">
    <div class="page-heading">
        <h1>Events</h1>
        <div class="gray-out"></div>
        <div class="wrapper events-wrapper">
            <img src="../../../assets/images/sub-page-img/page-events.jpg">
            <div class="fanart" lazyLoad="../../../assets/images/sub-page-img/page-events.jpg"></div>
        </div>
    </div>
    <div class="flex-container" fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="10"></div>
        <div fxFlex="80">
            <app-events-content></app-events-content>
        </div>
        <div fxFlex="10"></div>
    </div>
</div>