<div class="terms-and-policies">
    <h1>Terms & Policies</h1>
    <hr>
    <p class="date-effective">Effective Date: 10 February 2014 | Last Update: 25 May 2018</p>
    <h2>Terms of Use</h2>

    <!-- Acceptance of terms of use -->
    <h3>1. Acceptance of terms of use</h3>
    <p>
        "WORLDSURFLEAGUE.COM" (including all sub-domains and points of entry to the same including via an “App” and any other domains or micro-sites owned or 
        operated on the internet by WSL (as defined below)) (“the WSL Website”) is the interactive on-line service operated by Association of Surfing Professionals 
        LLC d/b/a World Surf League ("WSL") on the internet, consisting of information services and content provided by the WSL Website, WSL, their affiliates, 
        associated entities, and other third parties. “You” and “Your” means each person who establishes a connection to the WSL Website for access to and use of 
        the WSL Website content or functions. Any use of the WSL Website in connection with Your employment constitutes a representation and warranty that You have 
        the authority to bind Your employer to the terms and conditions herein (“Terms of Use”).

        <b> Please read these Terms of Use carefully as they contain important information about your legal rights and remedies. By accessing the WSL Website, you agree 
            to comply with and be bound by these Terms of Use. </b>
        
        Please note: Section 19 of these Terms of Use contains an arbitration clause and class action waiver which affects how disputes shall be resolved. If your country 
        of residence is the United States, this provision applies to all disputes with WSL. If your country of residence is outside of the United States, this provision 
        applies to any action you bring against WSL in the United States. By accepting these Terms of Use, you agree to be bound by this arbitration clause and class action 
        waiver. Please read it carefully.  
    </p>
    <!-- Use of WSL website -->
    <h3>2. Use of WSL website</h3>
    <p> 
        (A) WSL encourages parents and guardians to spend time with their children online, and to be fully familiar with the sites visited by the children in their care, 
        including the WSL Website. The WSL Website is not intended for use by people under the age of thirteen (13). If You are under the age of eighteen (18), You should 
        not participate in contests or sweepstakes or other promotional opportunities on the WSL Website, nor should You post information to the WSL Website without a 
        parent or guardian's consent. (B) These Terms of Use set forth the terms and conditions that apply to Your use of the WSL Website. By using the WSL Website 
        (other than to read these Terms of Use for the first time), You agree to comply with all of the terms and conditions within these Terms of Use. The right to use 
        the WSL Website is personal to You and is not transferable to any other person or entity. You are responsible for every aspect of Your use (under any screen name, 
        profile or password)of a WSL Website and for ensuring that all of Your use complies fully with the provisions of these Terms of Use. You shall be responsible for 
        protecting the confidentiality of Your password(s), if any. (C) WSL shall have the right at any time to change or discontinue any aspect or feature of the WSL 
        Website, including, but not limited to, content, hours of availability, and equipment needed for access or use in their sole discretion, including those that 
        effect a personal function provided to Your profile (if applicable). (D) These Terms of Use do not necessarily reflect the terms that govern other sites that 
        may be linked to or from the WSL Website. We encourage you to independently review the terms and conditions of use of such third party sites.
    </p>
    <!-- Changed terms -->
    <h3>3. Changed terms</h3>
    <p>
        WSL shall have the right at any time to change or modify these Terms of Use or to impose new conditions, including, but not limited to, adding fees and charges for 
        use. Such changes or modifications shall be effective immediately upon publication, which may include, but is not limited to, posting on the WSL Website, or by 
        electronic or conventional mail, or by any other means by which WSL may publicize notice thereof. Your use of the WSL Website after such notice shall be deemed to 
        constitute Your acceptance of such changes or modifications and the new Terms of Use from that time of publication.
    </p>
    <!-- Hardware and software updates -->
    <h3>4. Hardware and software updates</h3>
    <p>
        You shall be responsible for obtaining and maintaining all computer hardware, software and other equipment needed for access to and use of the WSL Website functions 
        and all related charges.
    </p>
</div>


    