<!-- Store Content -->
<div class="universal-page-heading">
    <div class="page-heading">
        <h1>Store</h1>
        <div class="gray-out"></div>
        <div class="wrapper store-wrapper">
            <img src="../../../assets/images/sub-page-img/page-store.jpg">
            <div class="fanart" lazyLoad="../../../assets/images/sub-page-img/page-store.jpg"></div>
        </div>
    </div>
    <div class="flex-container" fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="100">
            <app-store-content></app-store-content>
        </div>
    </div>
</div>