<!-- Statistics Content -->
<div class="universal-page-heading">
    <div class="page-heading">
        <h1>Statistics</h1>
        <div class="gray-out"></div>
        <div class="wrapper stats-wrapper">
            <img src="../../../assets/images/sub-page-img/page-stats.jpg">
            <div class="fanart" lazyLoad="../../../assets/images/sub-page-img/page-stats.jpg"></div>
        </div>
    </div>
    <div class="flex-container" fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="7.5"></div>
        <div fxFlex="85">
            <app-statistics-content></app-statistics-content>
        </div>
        <div fxFlex="7.5"></div>
    </div>
</div>