<div class="flex-container" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="left-col" fxFlex="100">
        <!-- About WSL -->
        <h2>About WSL</h2>
        <p>The World Surf League organizes the annual tour of professional surf competitions and broadcasts each event live at WorldSurfLeague.com where you can 
            experience the athleticism, drama and adventure of competitive surfing -- anywhere and anytime it's on.</p>
        <p>Travel alongside the world's best male and female surfers to the most remote and exotic locations in the world. Fully immerse yourself in the sport of 
            surfing with live event broadcasts, social updates, event highlights and commentary on desktop and mobile.</p>  
        <p>The professional surf tour was founded in 1976 to celebrate the elite athletes, diverse fans and dedicated partners that together embody professional 
            surfing today. It's headquartered in Los Angeles, California with offices throughout the globe, and dedicated to: </p>
        <ul>
            <li>Bringing the athleticism, drama and adventure of pro surfing to fans worldwide.</li>
            <li>Promoting professional surfers as world-class athletes.</li>
            <li>Acting as good stewards of the environment both in and out of the water.</li>
        </ul>
        <p>The WSL exists to celebrate and grow the history, elite athletes, diverse fans and dedicated partners that together embody professional surfing today.</p>
        
        <br><hr><br>

        <!-- History WSL -->
        <h2>Brief WSL History</h2>
        <h3>1976 – 1982</h3>
        <p>Hawaiian surfers Randy Rarick and Fred Hemmings organize a collection of disparate unaffiliated pro surfing events around the world into the first 
        world championship tour by developing an international ranking system and encouraging the world's best surfers to get involved. Their organization, 
        International Professional Surfers (IPS) becomes the original world governing body of professional surfing. Champions included Peter “PT” Townend (AUS), 
        Shaun Tomson (ZAF), Wayne “Rabbit” Bartholomew (AUS), Mark “MR” Richards (AUS), Margo Oberg (USA), Lynn Boyer (HAW) and Debbie Beacham (USA).</p>

        <h3>1983 – 2014</h3>
        <p>Former World No. 2 surfer Ian "Kanga" Cairns evolves the original IPS concept into the Association of Surfing Professionals (ASP), providing a joint 
            ownership and control of the sport for both the event organizers and the surfers on tour. In the mid-1990s, the ASP's focus shifted to the "Dream Tour" 
            concept, encouraging event organizers to transition their venues from well-populated, metropolitan areas to remote locations with high-quality surf. 
            The Dream Tour birthed the company philosophy of, “world's best surfers, world's best waves,” which remains the organization's guiding principle to this 
            day. Notable champions include Tom Carroll (AUS), Tom Curren (USA), Kelly Slater (USA), Andy Irons (HAW), Mick Fanning (AUS) and Gabriel Medina (BRA) 
            as well as Wendy Botha (ZAF), Frieda Zamba (USA), Lisa Andersen (USA), Layne Beachley (AUS), Stephanie Gilmore (AUS) and Carissa Moore (HAW). In addition, 
            this era opened its doors to both embrace the future and acknowledge the past in the creation of the junior and masters tours.</p>

        <h3>2015 – Present</h3>
        <p>The World Surf League (WSL) steps in to help evolve the ASP into a more potent centralized body, overseeing the key product areas of the elite men's and 
            women's World Championship Tours, the Qualifying Series (QS), the Big Wave Tour, the Big Wave Awards, the World Longboard Championships and the World 
            Junior Championships. In addition to its headquarters in Santa Monica, California, the WSL has a commercial office in New York City and regional offices 
            in Japan, Australia, France, South Africa, Brazil, Hawaii and Southern California.</p>
    </div>
</div>