<!-- About Content -->
<div class="universal-page-heading">
    <div class="page-heading">
        <h1>About</h1>
        <div class="gray-out"></div>
        <div class="wrapper about-wrapper">
            <img src="../../../assets/images/sub-page-img/page-about.jpg">
            <div class="fanart" lazyLoad="../../../assets/images/sub-page-img/page-about.jpg"></div>
        </div>
    </div>

    <div class="flex-container" fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="10"></div>
        <div fxFlex="80">
            <app-about-content></app-about-content>
        </div>
        <div fxFlex="10"></div>
    </div>
</div>