$base-theme:Bootstrap;
$skin-name:waves-theme;
$border-radius: 0.25rem;
$accent: #2f9893;
$secondary: #e4e7eb;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-bg: #ffffff;
$body-color: #292b2c;
$component-bg: #ffffff;
$component-color: #292b2c;
$card-cap-bg: #f7f7f9;
$card-cap-color: #292b2c;
$series-a: #96d6e5;
$series-b: #3bbedb;
$series-c: #0f95b3;
$series-d: #64cbce;
$series-e: #1c7874;
$series-f: #2f9893;
