<!-- Watch Content -->
<div class="universal-page-heading">
    <div class="page-heading">
        <h1>Watch</h1>
        <div class="gray-out"></div>
        <div class="wrapper watch-wrapper">
            <img src="../../../assets/images/sub-page-img/page-watch.jpg">
            <div class="fanart" lazyLoad="../../../assets/images/sub-page-img/page-watch.jpg"></div>
        </div>
    </div>

    <div class="flex-container" fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="10"></div>
        <div fxFlex="80">
            <app-watch-content></app-watch-content>
        </div>
        <div fxFlex="10"></div>
    </div>
</div>