<div class="primary-heading">
    <div class="prime-text">
        <h1 class="heading-text">World Surf League</h1>
        <h4 class="sub-heading-text">The Global Home Of Surfing</h4>
        <img src="../../../assets/images/logo/white-wsl-logo.png">
        <div class="pre-load-logo" lazyLoad="../../../assets/images/logo/white-wsl-logo.png"></div>
    </div>
    <div class="wrapper">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAADCAYAAABbNsX4AAAASklEQVQYVwE/AMD/ARF0b/9EKCoASSUpAAwDCwD29wMAARBgXf8lDw4ABwIGAPoDBADX8/EAAQ1qc/8NBgUABPn3APjq6gDy9PYAFs4UpOg2F8wAAAAASUVORK5CYII=">
        <div class="fanart" lazyLoad="../../../assets/images/world-surf-league-home.jpg"></div>
    </div>
    <div class="white-to-clear-transition"></div>
</div>
<app-home-content></app-home-content>