<!-- Store Content (Row 1) -->
<div class="store-category-section flex-container" fxLayout="row" fxLayoutAlign="start stretch">
    <div fxFlex="39"> 
        <div class="arrow-down"></div>
        <h1 class="shop-text">Shop All Your Favorite WSL Brands</h1>
        <div class="brand-logos">
            <a href="https://us.wslstore.com/shop/brands/billabong" target="_blank"><img src="https://d3fic6bj5pagcw.cloudfront.net/media/wysiwyg/wsl/BILLABONG.png" alt="BILLABONG"></a>
            <a href="https://us.wslstore.com/shop/brands/hurley" target="_blank"><img src="https://d3fic6bj5pagcw.cloudfront.net/media/wysiwyg/wsl/HURLEY.png" alt="HURLEY"></a>
            <a href="https://us.wslstore.com/shop/brands/woolmark" target="_blank"><img src="https://d3fic6bj5pagcw.cloudfront.net/media/wysiwyg/wsl/WOOLMARK.png" alt="WOOLMARK"></a>
            <a href="https://us.wslstore.com/shop/brands/new-era" target="_blank"><img src="https://d3fic6bj5pagcw.cloudfront.net/media/wysiwyg/wsl/NEWERA.png" alt="NEWERA"></a>
        </div>
    </div>
    <!-- Shop Mens -->
    <div class="shop-mens" fxFlex="25"> 
        <a href="https://us.wslstore.com/shop/men" target="_blank">
            <div class="shop-overlay"><span>Shop Mens</span></div>
        </a>
        <img src="https://d3fic6bj5pagcw.cloudfront.net/media/wysiwyg/wsl/cat-img1.jpg">
    </div>
    <!-- Shop Jersey -->
    <div class="shop-jersey" fxFlex="20"> 
        <a href="https://us.wslstore.com/athletes" target="_blank">
            <div class="shop-overlay"><span>Shop Athlete Jerseys</span></div>
        </a>
        <img src="https://d3fic6bj5pagcw.cloudfront.net/media/catalog/product/cache/20/small_image/420x/040ec09b1e35df139433887a97daa66f/m/e/mens_groundswellpockettee_white-f.jpg">
    </div>
    <div class="shop-other" fxFlex="16"> 
        <!-- Shop Hers -->
        <div class="shop-hers">
            <a href="https://us.wslstore.com/shop/women" target="_blank">
                <div class="shop-overlay"><span>Shop Womens</span></div>
            </a>
            <img src="https://d3fic6bj5pagcw.cloudfront.net/media/wysiwyg/wsl/cat-img2.jpg">
        </div>
        <!-- Shop Kids -->
        <div class="shop-kids">
            <a href="https://us.wslstore.com/shop/kids" target="_blank">
                <div class="shop-overlay"><span>Shop Kids</span></div>
            </a>
            <img src="https://d3fic6bj5pagcw.cloudfront.net/media/wysiwyg/wsl/cat-img3.jpg">
        </div>
    </div>
</div>

<!-- Store Content (Row 2) -->
<div class="store-champ-section flex-container" fxLayout="row" fxLayoutAlign="start stretch">
    <div class="male-champ" fxFlex="58"> 
        <div class="flex-container" fxLayout="row" fxLayoutAlign="start stretch">
            <div fxFlex="60">
                <img src="https://d3fic6bj5pagcw.cloudfront.net/media/wysiwyg/wsl/Congrats_Medina_v2.jpg">
            </div>
            <div class="champ-text" fxFlex="42">
                <h3>Congratulations <br> Gabriel Medina!</h3>
                <p>2018 & 2X WORLD CHAMPION!</p>
                <a href="https://us.wslstore.com/athletes/men-s-championship-tour/gabriel-medina/">
                    <button mat-raised-button>Shop His Athlete Jersey</button>
                </a>
            </div>
        </div>
    </div>
    <div class="arrow-down"></div>
    <div class="female-champ" fxFlex="50"> 
        <div class="flex-container" fxLayout="row" fxLayoutAlign="start stretch">
            <div fxFlex="58">
                <img src="https://d3fic6bj5pagcw.cloudfront.net/media/wysiwyg/wsl/Congrats_Gilmore_v2.jpg" target="_blank">
            </div>
            <div class="champ-text" fxFlex="42">
                <h3>Congratulations <br> Stephanie Gilmore!</h3>
                <p>2018 & 7X WORLD CHAMPION!</p>
                <a href="https://us.wslstore.com/athletes/women-s-championship-tour/stephanie-gilmore/" target="_blank">
                    <button mat-raised-button>Shop Her Athlete Jersey</button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Store Content (Row 3) -->
<div class="store-jersey-section flex-container" fxLayout="row" fxLayoutAlign="start stretch">
    <div fxFlex="10">
        <div class="arrow-down"></div>
    </div>
    <div class="jersey-img jersey-img-1" fxFlex="20"></div>
    <div class="jersey-img jersey-img-2" fxFlex="20"></div>
    <div class="jersey-img jersey-img-3" fxFlex="20"></div>
    <div class="jersey-img jersey-img-4" fxFlex="20"></div>
    <div fxFlex="10"></div>
</div>
<a href="https://us.wslstore.com/shop/men/mens-athlete-jerseys" target="_blank">
    <h2 class="jerseys-link">Shop Athlete Jerseys And Rep Your Team</h2>
</a>
